header{
    display: grid;
    grid-template-columns: 150px auto;      
    background-color: #070876;
    color: #d9c2a3;
    grid-row: 0/1;
    grid-column: 1/5;
    max-width: 99%;
    margin-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
#logo_link{
    justify-self: center;
    align-self: center;
  }
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: justify;
    color:#bdcdcd;
    text-decoration: none;
    padding: 40px 0px;
}
nav a:hover{
    background-color: #40A0A2;
    color: #d9c2a3;
    }
a{
    display: block;
    text-align: center;
    text-decoration: none;
}
.logo {
    height: 50%;
    width: 50%;
  }
body{
    background-color: #52b2b2;
    color: #d9c2a3;
    text-align: justify;
    font-family: Raleway, Arial, Sans Serif;
    font-size: 20px;
    margin: 0 auto;
    margin-left: -36px;
}
Section{
    margin: 0 auto;
    
}
  /**/
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
.inputs{
    min-width: 60%;
    margin: 0px 250px 250px 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-row: 1fr 1fr 3fr 1fr;

}
.name_head{
    text-align: right;
    margin-right: 8px;
    font-size: 24px;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}
.name_input{
    margin: 10px 0px 25px 15px center;
    max-width: 600px;
    height: 60px;
    font-size: 24px;
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}
.mail_head{
    text-align: right;
    margin-right: 8px;
    font-size: 24px;
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
}
.mail_input{
    margin: 15px 10px 25px 10px;
    max-width: 600px;
    height: 60px;
    font-size: 24px;
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;
}
.lg_head{ 
    text-align: right;
    margin: center;
    font-size: 24px;
    grid-row: 3/4;
    grid-column: 1/2;
}
.lg_input{ 
    min-width: 60%;
    height: 250px;
    font-size: 24px;
    padding: 50px;
    display: grid;
    grid-row: 4/5;
    grid-column: 1/5;
}
button{
    margin: 20% center;
    margin: 15px 10px 25px 10px;
    font-size: 24px;
    padding: 50px;
    width: 350px;
    text-decoration: underline;
    grid-column: 3/3;
    grid-row: 6/7;
}
button:hover{
    scale: .95;
}
sup{
    font-size: .8em;
    text-align: center;
    margin-top: -15px;
    max-width: 325px;
}
/**/

footer{
    background-color: #6f7564;
    margin-top: 250px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/4;
    grid-row: 8/9;
  }
  footer a{
    color: #d9c2a3;
    text-decoration: none;
    display: inline; 
    padding: 50px 5px 5px 5px;
  }
  footer a:hover{
    background-color: #000274;
    color: #d9c2a3;
  }
  footer p{
    font-size: 1.2em;  
  }
  footer p a{ 
  text-decoration: underline;
  }
  footer p:hover{
    background-color: #000274;
    
  }
  .social_links:hover{
    background-color: #000250;
    padding: 5px #000250;
  }
  /**/