
#content{
    max-width: 0px;
    margin: 0 auto;

}
.logo{  
  height: 50%;
  width:50%;
}
#logo_link{
  justify-self: center;
  align-self: center;
  padding-top: 20px;
}
    /**/
body{
    background-color: #40A0A2;
    color: #d9c2a3;
    font-size: 22px;
    font-family: Raleway, Arial, Sans Serif;
    margin:0;
    padding: 0;
}
.home-title{
  font-family: 'Rock Salt', 'Bradley Hand', sans serif;
  font-size: 2em;
}

header{
  display: grid;
  grid-template-columns: 150px auto;      
  background-color: #070876;
  color: #d9c2a3;
}
nav{
  display: flex;
  justify-content: space-around;
}
nav a{
  text-align: center;
  color:#bdcdcd;
  text-decoration: none;
  padding: 40px 20px;
}
a{
  display: block;
  text-align: center;
  text-decoration: none;
}
h1{
  display: block;
  text-align: center;
}
h2{
  margin: 0;
  margin-top: 20px;
  text-decoration: none;
}
H4{
  display: block;
  text-align: center;
}
#hero{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100;
}
#hero-box{
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-img{
  width: 100%;
}
#hero-msg{
  display: block;
  text-align: center;
  width: 100%;
  margin: auto 0;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top:  100px;
}
#hero-msg h4{
  color: #FFFFFF;
}
/**/
main{
  display: block;
  text-align: center;
}
section{
  display: block;
  text-align: center;
}
.button-box{
  display: block;
  text-align: center;
}
#background {
  height: 725px;
  background-color: #40A0A2;
  color: #d9c2a3;
  grid-column:1/11;
  grid-row:4/9;
}
body{
  background-color: #00A0Af;
  color: #d9c2a3;
}
.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card{
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card{
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card{
  grid-column: 8/10;
  grid-row: 2/3;
}
/**/
nav a:hover{
background-color: #40A0A2;
color: #d9c2a3;
}
.join{
  display: inline-block;
  background-color: #d9c2a3;
  color: #000273;
  text-decoration: none;
  font-size: 18px;
  max-width: 200px;
  text-align: center;
  padding: 15px 30px;
  margin-top: 50px;
  border: 5px;
  border-radius: 12px;
  font-family: 'Rock Salt', 'Bradley Hand', sans serif;
}
.join:hover{
  background-color: #000272;
  color: #d9c2a3;
  text-decoration: underline;
}
.book{
  background-color: #d9c2a3;
  color: #000273;
  text-decoration: underline;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border: 5px;
  font-family: 'Rock Salt', 'Bradley Hand', sans serif;
}
.book:hover{
  background-color: #000273;
  color: #40A0A2;
  text-decoration: underline;
}
.mountains{
  margin: 100px;
  width: 100%;
  grid-column: 2/6;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f8064;
}
/**/
.msg{
  background-color: #6f7564;
  line-height: 1.5em;
  border: 50px solid #6f7564;
  grid-column: 6/10;
  grid-row: 6/7;
  padding: 35px;
  box-shadow: 5px 5px 10px #6f8064;
}
.spheel{
  background-color: #d9c2a3;
  color: #000272;
  text-align: center;
  margin: 0%;
  width: 100%;
  grid-column: 2/10;
  grid-row: 6/8;

  padding: 50px;
}
.msg h2{
  background-color:#6f7564;
  color: #000273;
}
.msg p{
background-color: #6f7564;
color: #000273;
font-size: .8em;
font-family: 'Rock Salt', 'Bradley Hand', sans serif;
}
.card-img{
  width: 100%;
  margin-top: 15px;
  border: 8px solid #d9c2a3;
  border-radius: 20px;
  transition: transfrom .5s;
  box-shadow: 5px 5px 10px #6f8064;
  margin-left: 80px;
}
.card-img:hover{
  opacity: .6;
  transform: scale(1.1);
}
main section img{
  box-sizing: border-box;

/**/
}
footer{
  background-color: #6f7564;
  margin-top: 250px;
  text-align: justify;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1/11;
  grid-row: 10/11;
}
footer a{
  background-color: #6f7564;
  color: #000273;
  text-decoration: none;
  display: inline;
}
footer a:hover{
  background-color: #000274;
  color: #d9c2a3;
}
footer p{
  font-size: 1.2em;  
}
footer p a{ 
text-decoration: underline;
}
footer p a:hover{
  background-color: #000274;
  color: #d9c2a3;
}
.icon{
  width: 64px;
}






@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
