body{
    background-color: #52b2b2;
    color: #d9c2a3;
    text-align: justify;
    font-family: Raleway, Arial, Sans Serif;
    font-size: 20px;
    margin: 0 auto;
    margin-left: -36px;
}
Section{
    margin: 0 auto;
    
}
p{
    background-color: #3090A1;
    padding: 8px;
    border-radius: 10px;
}
#seg1{
    display:  grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    max-width: 90%;
    min-width: 60%;
    margin: 0 auto;

}
.title_main{
    color:#000140;
    font-size: 1.5em;
    text-align: center;
    text-shadow: #5557c9 3px 2px 1px;
    margin-top: -75px ;
    padding: 50px;
    max-height: 430px;
/**/ 
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
/**/
    background-image: url("../images/trip.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    border: #000140 1px solid;
    border-radius: 0px 0px 400px 400px;
}
.title_main:hover{
    scale: 1.05;
    border: #000140 3px solid;
}
h1{
    font-size: 2em;
}
h2{
    margin-top: -35px;
}
.img_tiles{
    width: 400px;
    height: 200px;
    border: 3.5px #2b3264 solid;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.img_tiles:hover{
    opacity: .95;
    transform: scale(1.05);
}
.tile_head{
    background-color: #000250;
    text-align: center;
    font-size: 1.6em;   
    margin: 20px 50px 20px 50px;
    padding: 15px;
    border: 1.5px #2b3264 solid;
    border-radius: 30px;
}
.tile_head:hover{
    opacity: .9;
    transform: scale(1.1);
    background-color: #000274;
    color: #d9c2a3;
}
.tile_head2{
    text-align: center;
    background-color: #000250;
    padding: 15px;
    border-radius: 30px;
    font-size: 1.6em;
}
.tile_subhead2{
    text-align: center;
    background-color: #000250;
    padding: 15px;
    border-radius: 30px;
}
.trips{
    background-color: #3090A1;
    margin: 25px;    
    padding: 15px;
    padding-bottom: 35px;
    max-width: 430px;
    border-radius: 10px;
}
.dates{
    margin: -0px 0px -5px 0px;
    font-size: 1.4em;
}
/*Trip Desc*/
#ut_info{
    grid-column: 1/2;
    grid-row: 3/4;
}
#id_info{
    grid-column: 2/3;
    grid-row: 3/4;

}
#az_info{
    grid-column: 3/4;
    grid-row: 3/4;

}
/*Prices and dates*/
.title2 {
    display: grid;
    grid-column: 1/4;
    grid-row: 4/5;
    /**/    
    background-color: #000250;
    text-align: center;
    margin: 0 auto ;
    max-height: 100px;
    min-width: 60%;
    max-width: 80%;
    padding: 15px;
    border-radius: 20px;
}
#ut_pd{
    display: grid;
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url("../images/river-wide2-banner.jpg");
    background-size: cover;
    border: #000140 3px solid;
}
#ut_pd:hover{
    scale: 1.05;
}
#id_pd{
    display: grid;
    grid-column: 2/3;
    grid-row: 5/6;
    background-image: url("../images/river-wide-banner.jpg");
    background-size: cover;
    border: #000140 3px solid;
}
#id_pd:hover{
    scale: 1.05;
}
#az_pd{
    display: grid;
    grid-column: 3/4;
    grid-row: 5/6;
    background-image: url("../images/river-wide3-banner.jpg");
    background-size: cover;
    border: #000140 3px solid;
}
#az_pd:hover{
    scale: 1.05;
}
#az_pd2{
    display: grid;
    grid-column: 3/4;
    grid-row: 7/8;
    background-image: url("../images/river-wide3-banner.jpg");
    background-size: cover;
    border: #000140 3px solid;
}
#az_pd2:hover{
    scale: 1.05;
}
sup{
    font-size: .8em;
    text-align: center;
    margin-top: -15px;
    max-width: 325px;
}
/**/

footer{
    background-color: #6f7564;
    margin-top: 250px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/4;
    grid-row: 8/9;
  }
  footer a{
    color: #000273;
    text-decoration: none;
    display: inline; 
    padding: 50px 0px 0px 5px;
  }
  footer a:hover{
    background-color: #000274;
    color: #d9c2a3;
  }
  footer p{
    font-size: 1.2em;  
  }
  footer p a{ 
  text-decoration: underline;
  }
  footer p :hover{
    background-color: #000274;
    color: #d9c2a3;
  }